* text=auto !eol
/.classpath -text
/.project -text
.settings/.jsdtscope -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
WebContent/META-INF/MANIFEST.MF -text
WebContent/_include.jsp -text
WebContent/branding.jsp -text
WebContent/footer.jsp -text
WebContent/head.jsp -text
WebContent/header.jsp -text
WebContent/index.jsp -text
WebContent/nav-bars/dynamic.jsp -text
WebContent/nav-bars/sample.jsp -text
WebContent/nav.jsp -text
WebContent/redirects.jsp -text
WebContent/resources/DataTables/css/dataTables.bootstrap.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap.min.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap4.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap4.min.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap5.css -text
WebContent/resources/DataTables/css/dataTables.bootstrap5.min.css -text
WebContent/resources/DataTables/css/dataTables.bulma.css -text
WebContent/resources/DataTables/css/dataTables.bulma.min.css -text
WebContent/resources/DataTables/css/dataTables.dataTables.css -text
WebContent/resources/DataTables/css/dataTables.dataTables.min.css -text
WebContent/resources/DataTables/css/dataTables.foundation.css -text
WebContent/resources/DataTables/css/dataTables.foundation.min.css -text
WebContent/resources/DataTables/css/dataTables.jqueryui.css -text
WebContent/resources/DataTables/css/dataTables.jqueryui.min.css -text
WebContent/resources/DataTables/css/dataTables.semanticui.css -text
WebContent/resources/DataTables/css/dataTables.semanticui.min.css -text
WebContent/resources/DataTables/css/jquery.dataTables.css -text
WebContent/resources/DataTables/css/jquery.dataTables.min.css -text
WebContent/resources/DataTables/datatables.min.css -text
WebContent/resources/DataTables/datatables.min.js -text
WebContent/resources/DataTables/images/sort_asc.png -text
WebContent/resources/DataTables/images/sort_asc_disabled.png -text
WebContent/resources/DataTables/images/sort_both.png -text
WebContent/resources/DataTables/images/sort_desc.png -text
WebContent/resources/DataTables/images/sort_desc_disabled.png -text
WebContent/resources/DataTables/js/dataTables.bootstrap.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap.min.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap4.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap4.min.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap5.js -text
WebContent/resources/DataTables/js/dataTables.bootstrap5.min.js -text
WebContent/resources/DataTables/js/dataTables.bulma.js -text
WebContent/resources/DataTables/js/dataTables.bulma.min.js -text
WebContent/resources/DataTables/js/dataTables.dataTables.js -text
WebContent/resources/DataTables/js/dataTables.dataTables.min.js -text
WebContent/resources/DataTables/js/dataTables.foundation.js -text
WebContent/resources/DataTables/js/dataTables.foundation.min.js -text
WebContent/resources/DataTables/js/dataTables.jqueryui.js -text
WebContent/resources/DataTables/js/dataTables.jqueryui.min.js -text
WebContent/resources/DataTables/js/dataTables.semanticui.js -text
WebContent/resources/DataTables/js/dataTables.semanticui.min.js -text
WebContent/resources/DataTables/js/jquery.dataTables.js -text
WebContent/resources/DataTables/js/jquery.dataTables.min.js -text
WebContent/resources/autocomplete.css -text
WebContent/resources/autocomplete.js -text
WebContent/resources/bootstrap/css/bootstrap-grid.css -text
WebContent/resources/bootstrap/css/bootstrap-grid.css.map -text
WebContent/resources/bootstrap/css/bootstrap-grid.min.css -text
WebContent/resources/bootstrap/css/bootstrap-grid.min.css.map -text
WebContent/resources/bootstrap/css/bootstrap-reboot.css -text
WebContent/resources/bootstrap/css/bootstrap-reboot.css.map -text
WebContent/resources/bootstrap/css/bootstrap-reboot.min.css -text
WebContent/resources/bootstrap/css/bootstrap-reboot.min.css.map -text
WebContent/resources/bootstrap/css/bootstrap.css -text
WebContent/resources/bootstrap/css/bootstrap.css.map -text
WebContent/resources/bootstrap/css/bootstrap.min.css -text
WebContent/resources/bootstrap/css/bootstrap.min.css.map -text
WebContent/resources/bootstrap/js/bootstrap.bundle.js -text
WebContent/resources/bootstrap/js/bootstrap.bundle.js.map -text
WebContent/resources/bootstrap/js/bootstrap.bundle.min.js -text
WebContent/resources/bootstrap/js/bootstrap.bundle.min.js.map -text
WebContent/resources/bootstrap/js/bootstrap.js -text
WebContent/resources/bootstrap/js/bootstrap.js.map -text
WebContent/resources/bootstrap/js/bootstrap.min.js -text
WebContent/resources/bootstrap/js/bootstrap.min.js.map -text
WebContent/resources/countUp.min.js -text
WebContent/resources/countup.js -text
WebContent/resources/d3.v4.min.js -text
WebContent/resources/fontawesome-6.4.2/css/all.css -text
WebContent/resources/fontawesome-6.4.2/css/all.min.css -text
WebContent/resources/fontawesome-6.4.2/css/brands.css -text
WebContent/resources/fontawesome-6.4.2/css/brands.min.css -text
WebContent/resources/fontawesome-6.4.2/css/fontawesome.css -text
WebContent/resources/fontawesome-6.4.2/css/fontawesome.min.css -text
WebContent/resources/fontawesome-6.4.2/css/regular.css -text
WebContent/resources/fontawesome-6.4.2/css/regular.min.css -text
WebContent/resources/fontawesome-6.4.2/css/solid.css -text
WebContent/resources/fontawesome-6.4.2/css/solid.min.css -text
WebContent/resources/fontawesome-6.4.2/css/svg-with-js.css -text
WebContent/resources/fontawesome-6.4.2/css/svg-with-js.min.css -text
WebContent/resources/fontawesome-6.4.2/css/v4-font-face.css -text
WebContent/resources/fontawesome-6.4.2/css/v4-font-face.min.css -text
WebContent/resources/fontawesome-6.4.2/css/v4-shims.css -text
WebContent/resources/fontawesome-6.4.2/css/v4-shims.min.css -text
WebContent/resources/fontawesome-6.4.2/css/v5-font-face.css -text
WebContent/resources/fontawesome-6.4.2/css/v5-font-face.min.css -text
WebContent/resources/fontawesome-6.4.2/webfonts/fa-brands-400.ttf -text
WebContent/resources/fontawesome-6.4.2/webfonts/fa-brands-400.woff2 -text
WebContent/resources/fontawesome-6.4.2/webfonts/fa-regular-400.ttf -text
WebContent/resources/fontawesome-6.4.2/webfonts/fa-regular-400.woff2 -text
WebContent/resources/fontawesome-6.4.2/webfonts/fa-solid-900.ttf -text
WebContent/resources/fontawesome-6.4.2/webfonts/fa-solid-900.woff2 -text
WebContent/resources/fontawesome-6.4.2/webfonts/fa-v4compatibility.ttf -text
WebContent/resources/fontawesome-6.4.2/webfonts/fa-v4compatibility.woff2 -text
WebContent/resources/images/logo.png -text
WebContent/resources/main_style.css -text
WebContent/resources/n3c_login_style.css -text
WebContent/resources/test.jsp -text
WebContent/resources/tinymce/icons/default/icons.min.js -text
WebContent/resources/tinymce/jquery.tinymce.min.js -text
WebContent/resources/tinymce/langs/README.md -text
WebContent/resources/tinymce/license.txt -text
WebContent/resources/tinymce/plugins/advlist/plugin.min.js -text
WebContent/resources/tinymce/plugins/anchor/plugin.min.js -text
WebContent/resources/tinymce/plugins/autolink/plugin.min.js -text
WebContent/resources/tinymce/plugins/autoresize/plugin.min.js -text
WebContent/resources/tinymce/plugins/autosave/plugin.min.js -text
WebContent/resources/tinymce/plugins/bbcode/plugin.min.js -text
WebContent/resources/tinymce/plugins/charmap/plugin.min.js -text
WebContent/resources/tinymce/plugins/code/plugin.min.js -text
WebContent/resources/tinymce/plugins/codesample/plugin.min.js -text
WebContent/resources/tinymce/plugins/colorpicker/plugin.min.js -text
WebContent/resources/tinymce/plugins/contextmenu/plugin.min.js -text
WebContent/resources/tinymce/plugins/directionality/plugin.min.js -text
WebContent/resources/tinymce/plugins/emoticons/js/emojiimages.js -text
WebContent/resources/tinymce/plugins/emoticons/js/emojiimages.min.js -text
WebContent/resources/tinymce/plugins/emoticons/js/emojis.js -text
WebContent/resources/tinymce/plugins/emoticons/js/emojis.min.js -text
WebContent/resources/tinymce/plugins/emoticons/plugin.min.js -text
WebContent/resources/tinymce/plugins/fullpage/plugin.min.js -text
WebContent/resources/tinymce/plugins/fullscreen/plugin.min.js -text
WebContent/resources/tinymce/plugins/help/plugin.min.js -text
WebContent/resources/tinymce/plugins/hr/plugin.min.js -text
WebContent/resources/tinymce/plugins/image/plugin.min.js -text
WebContent/resources/tinymce/plugins/imagetools/plugin.min.js -text
WebContent/resources/tinymce/plugins/importcss/plugin.min.js -text
WebContent/resources/tinymce/plugins/insertdatetime/plugin.min.js -text
WebContent/resources/tinymce/plugins/legacyoutput/plugin.min.js -text
WebContent/resources/tinymce/plugins/link/plugin.min.js -text
WebContent/resources/tinymce/plugins/lists/plugin.min.js -text
WebContent/resources/tinymce/plugins/media/plugin.min.js -text
WebContent/resources/tinymce/plugins/nonbreaking/plugin.min.js -text
WebContent/resources/tinymce/plugins/noneditable/plugin.min.js -text
WebContent/resources/tinymce/plugins/pagebreak/plugin.min.js -text
WebContent/resources/tinymce/plugins/paste/plugin.min.js -text
WebContent/resources/tinymce/plugins/preview/plugin.min.js -text
WebContent/resources/tinymce/plugins/print/plugin.min.js -text
WebContent/resources/tinymce/plugins/quickbars/plugin.min.js -text
WebContent/resources/tinymce/plugins/save/plugin.min.js -text
WebContent/resources/tinymce/plugins/searchreplace/plugin.min.js -text
WebContent/resources/tinymce/plugins/spellchecker/plugin.min.js -text
WebContent/resources/tinymce/plugins/tabfocus/plugin.min.js -text
WebContent/resources/tinymce/plugins/table/plugin.min.js -text
WebContent/resources/tinymce/plugins/template/plugin.min.js -text
WebContent/resources/tinymce/plugins/textcolor/plugin.min.js -text
WebContent/resources/tinymce/plugins/textpattern/plugin.min.js -text
WebContent/resources/tinymce/plugins/toc/plugin.min.js -text
WebContent/resources/tinymce/plugins/visualblocks/plugin.min.js -text
WebContent/resources/tinymce/plugins/visualchars/plugin.min.js -text
WebContent/resources/tinymce/plugins/wordcount/plugin.min.js -text
WebContent/resources/tinymce/skins/content/dark/content.min.css -text
WebContent/resources/tinymce/skins/content/default/content.min.css -text
WebContent/resources/tinymce/skins/content/document/content.min.css -text
WebContent/resources/tinymce/skins/content/writer/content.min.css -text
WebContent/resources/tinymce/skins/ui/oxide-dark/content.inline.min.css -text
WebContent/resources/tinymce/skins/ui/oxide-dark/content.min.css -text
WebContent/resources/tinymce/skins/ui/oxide-dark/content.mobile.min.css -text
WebContent/resources/tinymce/skins/ui/oxide-dark/fonts/tinymce-mobile.woff -text
WebContent/resources/tinymce/skins/ui/oxide-dark/skin.min.css -text
WebContent/resources/tinymce/skins/ui/oxide-dark/skin.mobile.min.css -text
WebContent/resources/tinymce/skins/ui/oxide-dark/skin.shadowdom.min.css -text
WebContent/resources/tinymce/skins/ui/oxide/content.inline.min.css -text
WebContent/resources/tinymce/skins/ui/oxide/content.min.css -text
WebContent/resources/tinymce/skins/ui/oxide/content.mobile.min.css -text
WebContent/resources/tinymce/skins/ui/oxide/fonts/tinymce-mobile.woff -text
WebContent/resources/tinymce/skins/ui/oxide/skin.min.css -text
WebContent/resources/tinymce/skins/ui/oxide/skin.mobile.min.css -text
WebContent/resources/tinymce/skins/ui/oxide/skin.shadowdom.min.css -text
WebContent/resources/tinymce/themes/mobile/theme.min.js -text
WebContent/resources/tinymce/themes/silver/theme.min.js -text
WebContent/resources/tinymce/tinymce.d.ts -text
WebContent/resources/tinymce/tinymce.min.js -text
/pom.xml -text
