
/* General **********************************/
body{
	font-family: 'Lato', sans-serif;
}

h1{
	font-size: 2.8rem;
	font-weight: 500;
}

h2{
	font-size: 2.3rem;
	font-weight: 300;
	margin-top:20px;
	margin-bottom:20px;
}

h3{
	font-size: 1.8rem;
	font-weight: 300;
}

h4{
	font-size: 1.5rem;
	font-weight:400;
}

h5{
	font-size: 1rem;
	font-weight:600;
}

table {
	margin-top:20px;
	margin-bottom:20px;
}

th {
	padding: 10px;
}

td {
	padding: 10px;
}

a {
	color:#1570ba;
}

.btn-n3c {
  border: none;
  background: rgba(100,42,107,1);
  background: -moz-linear-gradient(-45deg, rgba(100,42,107,1) 0%, rgba(99,53,112,1) 47%, rgba(70,71,119,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(100,42,107,1)), color-stop(47%, rgba(99,53,112,1)), color-stop(100%, rgba(70,71,119,1)));
  background: -webkit-linear-gradient(-45deg, rgba(100,42,107,1) 0%, rgba(99,53,112,1) 47%, rgba(70,71,119,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(100,42,107,1) 0%, rgba(99,53,112,1) 47%, rgba(70,71,119,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(100,42,107,1) 0%, rgba(99,53,112,1) 47%, rgba(70,71,119,1) 100%);
  background: linear-gradient(135deg, rgba(100,42,107,1) 0%, rgba(99,53,112,1) 47%, rgba(70,71,119,1) 100%);
  color: white;
}

.text-max{
	max-width:750px;
}

.left-nav-bar {
	max-width: 15%;
    background-color:#FFD8A3;
	height: 100%;
	float: left;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top:10px;
	bottom:50px;
}

.scrollingHeading {
	margin-top:25px;
	margin-bottom:5px;
	border-bottom-style: solid;
}

.scrollingItem {
	margin-top:5px;
	margin-bottom:5px;
	border-bottom-style: solid;
}

.main-block {
	margin-top:10px;
	margin-bottom:10px;
	margin-left: 5%;
	margin-right: 5%;
}

.block {
	margin-top:10px;
	margin-bottom:0px;
}

.shadow-block {
	padding: 10px;
	padding-bottom: 30px;
	padding-top: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	webkit-box-shadow: 1px 2px 30px 2px rgba(92, 123, 128, 0.72);
	-moz-box-shadow: 1px 2px 30px 2px rgba(92, 123, 128, 0.72);
	box-shadow: 1px 2px 30px 2px rgba(92, 123, 128, 0.72);
	border-radius: 5px;
}

.right-block {
	margin-top:20px;
	margin-bottom:20px;
	margin-left: 10px;
}

.subblock {
	margin-top:10px;
}

.tile {
	margin-top:20px;
	margin-bottom:20px;
	margin-left: 20px;
	margin-right: 20px;
}

.auto-image {
	max-width: 100%;
	height: auto;

}

.auto-image-height {
	max-height: 70px;
	width: auto;

}

.highlight {
	background-color: Gainsboro;
	margin-top:0px;
	margin-bottom:0px;
	margin-left: 10%;
	margin-right: 10%;
}

.event {
	color: #ffffff;
	background-color: #3e6a7b;
}

.shade {
	margin-top:10px;
	margin-bottom:10px;
	padding-top:10px;
	background-color: #eeeeee;
}

.shade-blue {
	margin-top:20px;
	padding:10px;
	background-color: #edf6ff;
}

.center {
	margin: auto;
	text-align: center;
	margin-bottom:10px;
}

.main-container strong {
	color: #376076;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
 
 .carousel {
 	padding-bottom: 40px;
 }
 
 .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators {
	color: #000;
	background-color: #000;
    bottom: -150px;
}

.carousel-control-prev-icon {
	color: #000;
	background-color: #000;
}

.slick-slide
{
    height: inherit !important;
}

.faq
{
    margin: 10px;
}

.faq-header
{
    padding-top: 10px;
    padding-bottom: 10px;
}

